<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0; /* Цвет фона страницы */
        }

        form {
            position: relative;
            padding: 30px;
            background: #ffffff;
            border: 1px solid #cccccc;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 350px;
            z-index: 0; /* Форма находится ниже изображений */
        }

        .top-image {
            position: absolute;
            top: -50px; /* Половина изображения выше формы */
            left: 50%;
            transform: translateX(-50%);
            z-index: 1; /* Изображение находится выше формы */
            width: 100px; /* Примерная ширина */
            height: 100px; /* Примерная высота */
        }

        .bottom-left-image {
            position: absolute;
            bottom: -45px; /* 1/4 изображения заходит на форму */
            left: 5px;
            z-index: 1; /* Изображение находится выше формы */
            width: 150px; /* Увеличенная ширина */
            height: 150px; /* Увеличенная высота */
        }

        label, input, button {
            display: block;
            width: 100%;
            margin-top: 15px;
            font-size: 16px;
        }

        input, button {
            height: 40px;
            padding: 0 10px;
        }

        button {
            margin-top: 25px;
            cursor: pointer;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
        }

            button:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    <form method="post" action="@Url.Action("Login", "Home")">
        <img src="~/icons/call.png" class="top-image" alt="Top Image">
        <label for="login">Логин:</label>
        <input type="text" id="login" name="login" required>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Войти</button>
        <img src="~/icons/written.png" class="bottom-left-image" alt="Bottom Left Image">
    </form>
</body>
</html>
