﻿@using Newtonsoft.Json;
@model List<QrGraduationAdmin.Models.History>

@{
    ViewData["Title"] = "Результаты поиска историй";
}

<h2>@ViewData["Title"]</h2>

<form method="post" action="@Url.Action("SearchHistoriesBySecondName", "Home")">
    <label for="secondName">Введите фамилию:</label>
    <input type="text" id="secondName" name="secondName" required>
    
    <button type="submit">Найти</button>
</form>


@if (Model != null && Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Дата начала</th>
                <th>Дата окончания</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var history in Model)
            {
                <tr>
                    <td>@history.DateStartHistory</td>
                    <td>@history.DateFinishHistory</td>
                    <td>
                        @if (history.ExceededMaxTime)
                        {
                            <img src="/icons/erorrmessage.png" width="60" height="60" title="НАРУШЕНИЕ - написать руководителю" onclick="sendEmail()" />
                        }
                        else
                        {
                            <img src="/icons/correcttime.jpg" width="60" height="60" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Истории по указанной фамилии и периоду времени не найдены.</p>
}
<script>
    function sendEmail() {
        var recipient = 'recipient@example.com';
        var subject = 'Временное нарушение сотрудника Вашего отдела';
        var body = 'Ваш сотрдник выходил дольше чем на 2 часа';

        // Кодируем специальные символы в URI
        recipient = encodeURIComponent(recipient);
        subject = encodeURIComponent(subject);
        body = encodeURIComponent(body);

        // Формируем ссылку для открытия почтового клиента
        var mailtoLink = 'mailto:' + recipient + '?subject=' + subject + '&body=' + body;

        // Открываем почтовый клиент пользователя
        window.location.href = mailtoLink;
    }
</script>